<div id="bodyCont">
<h1 class="welcomeMsg">Welcome back, <%= @user.first_name %></h1>

  <a href="javascript:void;" class="openDlg1 bigButton">Update Budget</a>
  <div class="formContainer dialog1" style="display:none;">
    <center>
    <%= form_for(:session, url: update_budget_path) do |f| %>
      <h3>Enter the new monthly budget</h3>
      <%= f.text_field :budget, :placeholder => "Enter the budget" %>
      
      <h4>Enter the budget split and days split in the boxes below</h4>
      <%= f.text_field :split_budget, :placeholder => "Enter the budget for before the deadline" %>
      <%= f.text_field :deadline, :placeholder => "Enter the number of days this budget should be used."%>
      
      <%= f.submit "Enter", class: "btn-submit" %>
    <% end %>
    </center>
  </div>
  
  <a href="javascript:void;" class="openDlg2 bigButton">Input Meal Cost</a>
  <div class="formContainer dialog2" style="display:none;">
    <center>
    <%= form_for(:session, url: input_meal_path) do |f| %>
      <h3>Amount spent</h3>
      <%= f.text_field :amount, :placeholder => "Enter amount spent" %>
      <br/>
      <h3>Meal Category</h3>
      <%= select :session, :meal, ['Breakfast','Lunch','Dinner','Miscellaneous'] %>
      <%= f.submit "Enter", class: "btn-submit" %>
    <% end %>
    </center>
  </div>
  
  <a href="javascript:void;" class="openDlg3 bigButton">Select Favourites</a>
  <div class="formContainer dialog3" style="display:none;">
    <center>
    <%= form_for(:session, url: favourites_path) do |f| %>
      <div class="tableContainer">
      <table border="1">
        <tr>
          <th>Restaurant</th>
          <th>Name</th>
          <th>Price</th>
          <th>Add to Favourites</th>
        </tr>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food[0] %></td>
            <td><%= food[1] %></td>
            <td><%= food[2] %></td>
            <td><%= check_box_tag "foods[#{food[0]},#{food[1]},#{food[2]}]", 'yes', @favourites.include?("#{food[0]}_#{food[1]}") ? true : false %></td>
          </tr>
        <% end %>
      </table>
      </div>
      <%= f.submit "Enter", class: "btn-submit" %>
    <% end %>
    </center>
  </div>

  <a href="javascript:void;" class="openDlg4 bigButton">New Day</a>
  <div class="formContainer dialog4" style="display:none;">
    <center>
    <%= form_for(:session, url: new_day_path) do |f| %>
      <h3>Are you sure you want to start a new day?</h3>
      <%= f.submit "Yes", class: "btn-submit" %>
    <% end %>
    </center>
  </div>

  <hr>
  <p class="heading">Meal Plans - Daily Budget: Rs. <%= @user.budget %></p>
  <p class="heading">Remaining Days - <%= @user.remaining_days %></p>
  <hr>


  <div class="tableContainer">
  <p>Exotic Food Items</p>
  <table border="1">
    <tr>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% @exotic.each do |key,food| %>
      <tr>
          <td><%= food[:restaurant] %></td>
          <td><%= food[:name] %></td>
          <td><%= food[:price] %></td>
      </tr>
    <% end %>
  </table>
  </div>


  <div class="tableContainer">
  <p>Breakfast</p>
  <table border="1">
    <tr>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% @breakfast.each do |key,food| %>
      <tr>
        <% if @favourites.include?("#{food[:restaurant]}_#{food[:name]}") %>
          <td bgcolor="#ffff4d"><%= food[:restaurant] %></td>
          <td bgcolor="#ffff4d"><%= food[:name] %></td>
          <td bgcolor="#ffff4d"><%= food[:price] %></td>
        <% else %>
          <td><%= food[:restaurant] %></td>
          <td><%= food[:name] %></td>
          <td><%= food[:price] %></td>
        <% end %>
        
      </tr>
    <% end %>
  </table>
  </div>
  
  <div class="tableContainer">
  <p>Lunch</p>
  <table border="1">
    <tr>
      <th>Restaurant</th>
      <th>Name</th> 
      <th>Price</th>
    </tr>
    <% @lunch.each do |key,food| %>
      <tr>
        <% if @favourites.include?("#{food[:restaurant]}_#{food[:name]}") %>
        <td bgcolor="#ffff4d"><%= food[:restaurant] %></td>
        <td bgcolor="#ffff4d"><%= food[:name] %></td>
        <td bgcolor="#ffff4d"><%= food[:price] %></td>
        <% else %>
        <td><%= food[:restaurant] %></td>
        <td><%= food[:name] %></td>
        <td><%= food[:price] %></td>
        <% end %>
        
      </tr>
    <% end %>
  </table>
  </div>
  
  <div class="tableContainer">
  <p>Dinner</p>
  <table border="1">
    <tr>
      <th>Restaurant</th>
      <th>Name</th> 
      <th>Price</th>
    </tr>
    <% @dinner.each do |key,food| %>
      <tr>
        <% if @favourites.include?("#{food[:restaurant]}_#{food[:name]}") %>
        <td bgcolor="#ffff4d"><%= food[:restaurant] %></td>
        <td bgcolor="#ffff4d"><%= food[:name] %></td>
        <td bgcolor="#ffff4d"><%= food[:price] %></td>
        <% else %>
        <td><%= food[:restaurant] %></td>
        <td><%= food[:name] %></td>
        <td><%= food[:price] %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  </div>

</div>