<h3>Welcome <%= @user.first_name %></h3>

<%= form_for(:session, url: mainpage_path) do |f| %>
    <%= f.text_field :budget, :placeholder => "Enter the Budget" %>
    <%= f.submit "Enter", class: "btn-submit" %>
    
<% end %>

<p></p>
<p>Weekly Budget: Rs. <%= @user.budget %></p>
<p>Meal Plan: <br><%= @user.plan %></p>
