<h3>Welcome <%= @user.first_name %></h3>

<%= form_for(:session, url: mainpage_path) do |f| %>
    <%= f.text_field :budget, :placeholder => "Enter the Budget" %>
    <%= f.submit "Enter", class: "btn-submit" %>
    
<% end %>

<p></p>
<p>Weekly Budget: Rs. <%= @user.budget %></p>

Meal Plan:

<br>
<b><u>Breakfast</u></b>
<br>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% @breakfast.each do |key,food| %>
    <tr>
      <td><%= food[:restaurant] %></td>
      <td><%= food[:name] %></td>
      <td><%= food[:price] %></td>
    </tr>
  <% end %>
</table>

<br>
<b><u>Lunch</u></b>
<br>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Name</th> 
    <th>Price</th>
  </tr>
  <% @dinner.each do |key,food| %>
    <tr>
      <td><%= food[:restaurant] %></td>
      <td><%= food[:name] %></td>
      <td><%= food[:price] %></td>
    </tr>
  <% end %>
</table>

<br>
<b><u>Dinner</u></b>
<br>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Name</th> 
    <th>Price</th>
  </tr>
  <% @dinner.each do |key,food| %>
    <tr>
      <td><%= food[:restaurant] %></td>
      <td><%= food[:name] %></td>
      <td><%= food[:price] %></td>
    </tr>
  <% end %>
</table>
<br>