<!DOCTYPE html>
<html>
<head>
  <title>Foodapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="first">
    <a href="<%= mainpage_path %>" ><img class="logo" src="/LOGO.jpg" /></a>
  </div>

  <div class="second">
  
  <% if current_user %>
    <ul>
      <% if session[:profile] %>
        <li><%= link_to "Back", 'mainpage' %></a></li>
      <% else %>
        <li><%= link_to "Profile", 'profile' %></a></li>
      <% end %>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "Login", 'login' %></a></li>
      <li><%= link_to "Signup", 'signup' %></a></li>
    </ul>
  <% end %>
  </div>
</div>

<center>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
</center>

<%= yield %>

</body>
</html>
